@font-face {
	font-family: 'Arial';
	src: url('../fonts/Arial/ArialRegular/ArialRegular.eot');
	src: url('../fonts/Arial/ArialRegular/ArialRegular.woff') format('woff'),
		 url('../fonts/Arial/ArialRegular/ArialRegular.ttf') format('truetype'),
		 url('../fonts/Arial/ArialRegular/ArialRegular.svg#Arial') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Arial';
	src: url('../fonts/Arial/ArialBold/ArialBold.eot');
	src: url('../fonts/Arial/ArialBold/ArialBold.woff') format('woff'),
		 url('../fonts/Arial/ArialBold/ArialBold.ttf') format('truetype'),
		 url('../fonts/Arial/ArialBold/ArialBold.svg#Arial') format('svg');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Arial';
	src: url('../fonts/Arial/ArialItalic/ArialItalic.eot');
	src: url('../fonts/Arial/ArialItalic/ArialItalic.woff') format('woff'),
		 url('../fonts/Arial/ArialItalic/ArialItalic.ttf') format('truetype'),
		 url('../fonts/Arial/ArialItalic/ArialItalic.svg#Arial') format('svg');
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: 'Klavika';
	src: url('../fonts/Klavika/KlavikaMediumPlain/KlavikaMediumPlain.eot');
	src: url('../fonts/Klavika/KlavikaMediumPlain/KlavikaMediumPlain.woff') format('woff'),
		 url('../fonts/Klavika/KlavikaMediumPlain/KlavikaMediumPlain.ttf') format('truetype'),
		 url('../fonts/Klavika/KlavikaMediumPlain/KlavikaMediumPlain.svg#Klavika') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot');
	src: url('../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf') format('truetype'),
		 url('../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.svg#MyriadPro') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Zurich';
	src: url('../fonts/Zurich/ZurichRomanCondensed/ZurichRomanCondensed.eot');
	src: url('../fonts/Zurich/ZurichRomanCondensed/ZurichRomanCondensed.woff') format('woff'),
		 url('../fonts/Zurich/ZurichRomanCondensed/ZurichRomanCondensed.ttf') format('truetype'),
		 url('../fonts/Zurich/ZurichRomanCondensed/ZurichRomanCondensed.svg#Zurich') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Zurich';
	src: url('../fonts/Zurich/ZurichBoldCondensed/ZurichBoldCondensed.eot');
	src: url('../fonts/Zurich/ZurichBoldCondensed/ZurichBoldCondensed.woff') format('woff'),
		 url('../fonts/Zurich/ZurichBoldCondensed/ZurichBoldCondensed.ttf') format('truetype'),
		 url('../fonts/Zurich/ZurichBoldCondensed/ZurichBoldCondensed.svg#Zurich') format('svg');
	font-style: normal;
	font-weight: bold;
}
