// Color-variables
$body-bg-color:                   #ece6d6;
$content-bg-color:                #fff;
$aside-bg-color:                  #f4f2ec;
$gray-main-text:                  #3a3731;
$gray-content-border:             #e8e3da;
$gray-header-light-text:          #72716e;
$gray-header-dark-text:           #373737;
$green-header-text:               #28b028;
$green-text-shadow:               #1c7c1f;
$green-button-light-border:       #81de41;
$green-button-dark-border:        #0c932f;
$green-button-light-gradient:     #66c13e;
$green-button-dark-gradient:      #0f941a;
$green-breadcrumbs-text:          #14961c;
$gray-button-light-border:        #fff;
$gray-button-dark-border:         #cfcdc5;
$gray-button-light-gradient: $gray-button-light-border;
$gray-button-dark-gradient:       #f4f3f1;
$green-text: 					  #28b028;
$gray-paginator-bg: 			  #6b685e;
$gray-paginator-text: 			  #cbcbcb;
$gray-paginator-shadow: $gray-paginator-text;
$green-paginator-dark-gradient:   #1a7912;
$green-paginator-light-gradient:  #6ddd49;
$brown-slider-header-bg:          rgba(44, 37, 29, 0.9);
$green-arrows: 					  #43ac2d;
$gray-tabs-img-border:            #e9e6df;
$gray-tabs-header: 				  #444137;   
$gray-tabs-article-header: $gray-main-text;
$gray-aside-text: 				  #3f3b30;
$gray-select-active-text: 		  #231f20;
$gray-select-disabled-text: 	  #999;
$gray-select-dark-border: $gray-button-dark-border;
$gray-select-light-border: 		  #e8e5de;
$gray-select-arrow:               #615b49;
$gray-aside-border-color: $gray-select-light-border;
$gray-footer-bg:                  #f4f2ec;
$gray-footer-down-border: 		  #635543;
$gray-footer-dark-gradient: 	  #6e675e;
$gray-footer-light-gradient: 	  #999387;
$gray-footer-text-shadow: 		  #1f1e1b;
$gray-footer-header: 			  #64522a;
$gray-footer-text: 				  #7f7c73;
$gray-footer-dark-text: 		  #757268;
$gray-footer-button-dark-border:  #685c4e;
$gray-footer-button-light-border: #b0a59d;
$gray-footer-button-text-shadow:  #645a45;
$gray-footer-dark-gradient:       #736b61;
$gray-footer-lighter-gradient:    #948c80;
$gray-footer-light-gradient:      #d8d5cd;
$gray-copyright-dark-text: $gray-main-text;
$gray-copyright-light-text:       #716c61;
// Font-stack-variables
$font-stack-Arial: Arial, Helvetica, Verdana, sans-serif;
$font-stack-Zurich: "Zurich", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
$font-stack-MyriadPro: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
$font-stack-Klavica: "Klavica Medium", Arial, Helvetica, Verdana, sans-serif;